DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_id
GUILD_ID=your_server_id
VOICE_CHANNEL_ID=the_music_voice_channel_id
RYTHM_USER_ID=rythms_discord_user_id
RYTHM_TEXT_CHANNEL_ID=rythms_text_channel_id
PORT=3000
BANDS=64
VISUALIZER_GAIN=0.72
